Flask==0.10.1
Flask-Bcrypt
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
WTForms==2.0.1
gunicorn==19.1.0
itsdangerous==0.24
wsgiref==0.1.2
jawbone-up==0.1
requests==2.5.1
redis==2.10.3
pymongo>=2.5
mongoengine==0.8.7
flask_mongoengine>=0.7.0
flask-login==0.2.7
